.chat-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: minmax(400px, 600px) 40px;
}

.send-message {
    grid-column-start: 2;
}

.message-list {
    overflow-y: scroll;
}

.message {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin: 15px 0;
}

.message-sender {
    color: dimgray;
    grid-column-start: 1;
}

.message-content {
    grid-column-start: 2;
    text-align: left;
}

.message-input {
    width: 95%;
    height: 40px;
}